.list-container {
    position: absolute;
    width: 100%;
}

.tab-list {
    display: flex;
    justify-content: left;
}

hr {
    border-top: 3px solid aquamarine;
    margin-top: 0px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .tab-list {
        justify-content: center;
    }
    hr {
        display: none;
    }
}